.comment-body {
    margin-bottom: 0.25%;
    font-size: 0.8em;
    border-bottom: 1px solid lightgrey;
}

.comment-body-text {
    margin-top: 1%;
}

.comment-body-footer-reply-button {
    font-size: 0.9em;
    color: black;
}

.comment-body-footer{
    text-align: right;
    margin-bottom: 0.75%;
    margin-top: 0.75%;
}