.App-header {
    background-color: #F7F7F7;
    padding: 0.5%;
    margin-bottom: 1%;
    color: black;
    border-bottom: lightgrey solid 2px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    padding-left: 0;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.root-nav {
    display: inline-block;
    width: 20%;
}

.root-nav-item { 
    display: inline-block;
    margin-left: 4%;
}

.logo-text {
    display: inline;
    margin-left: 1%;
}

